{% load static %}
<!DOCTYPE html>
<html lang="zh-hans" data-theme="light">
  {% comment %} <html lang="zh-hans">
    {% endcomment %}
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" type="image/png" href="{% static 'images/computer-laptop-color-icon.png' %}" />
      <title>
        {% if title %}
          {{ title }} | {{ my_site_name }}
        {% else %}
          {% block title %}
            {{ my_site_name }}
          {% endblock %}
        {% endif %}
      </title>
      <!-- 引入CSS文件 -->
      <link rel="stylesheet" href="{% static 'css/output.css' %}" />
      {% block extra_css %}

      {% endblock %}
    </head>

<body class="flex flex-col min-h-screen">
      <header class="p-4 bg-neutral text-neutral-content">Navbar</header>
     <div class="flex-1 flex bg-gray-100">
        <aside class="w-1/4 border-r border-r-neutral p-4">Sidebar</aside>
        <main class="flex-1 p-4">
          {% block content %}
            {% block content_title %}
              {% if title %}
                <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
              {% endif %}
            {% endblock %}

           
          {% endblock %}
          <div class="w-52 h-52 bg-primary absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">Login</div>
        </main>
        <aside class="w-1/4 bg-gray-200 p-4">Sidebar</aside>
      </div>
      <footer class="p-2 bg-neutral text-neutral-content">Footer</footer>
    </body> 
    {% comment %} <body class="container">
        <div class="w-100px min-h-52 bg-primary">Login</div>
    </body> {% endcomment %}
  </html>
</html>
