{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="hero min-h-screen" style="background-image: url('{% static 'images/competition_3_HQ1.jpg' %}');">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-lg">
        <h1 class="mb-5 text-5xl font-bold">{{ title }}</h1>
        <p class="mb-5 text-2xl">{{ content }}</p>
        <button class="btn btn-primary">
            <a href="{% url 'accounts:profile' %}">Get Started</a>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
