# Django设置
SECRET_KEY=ChangeMe-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# 数据库配置
# SQLite (默认)
DATABASE_URL=sqlite:///db.sqlite3

# PostgreSQL示例
# DATABASE_URL=postgres://user:password@localhost:5432/dbname

# MySQL示例
# DATABASE_URL=mysql://user:password@localhost:3306/dbname

# Uploads
## 日志文件上传目录
LOGS_DIR=training_logs
## 会议文件上传目录
MEETING_FILE_DIR=meetings
## 通知附件上传目录
NOTICE_ATTACHMENT_DIR=notices

# Custom
# 世赛项目名称
WSCSKILL_NAME="网络系统管理项目"

# 注册邀请码过期的时间（单位：秒）
INVITATION_CODE_TIMEOUT=86400

# 缓存超时时间（单位：秒）
CACHE_TIMEOUT=10

# 上传文件最大值（单位：MB）
UPLOAD_MAX_SIZE_MB=10


# site_info
SITE_NAME="ITNSA"
SITE_DESCRIPTION="IT 技术日常(ITNSA)是一个面向学生和教育工作者的专业平台，专注于分享与IT教学和实验实践相关的优质内容。我们提供丰富的学习资源、实用的教学案例，以及前沿的技术实验指导，覆盖编程、网络系统、人工智能、自动化运维等多个领域。通过系统化的知识分享和实验实践支持，我们致力于帮助学生加深对IT技术的理解，培养动手实践能力，为未来的职业发展打下坚实基础。让“IT技术日常”成为你学习和探索技术世界的得力助手！"
SITE_KEYWORDS="ITNSA, IT技术日常, IT教学, 实验实践, 编程, 网络系统, 人工智能, 自动化运维, 技术资源, 教育平台"
SITE_AUTHOR="hdaojin"
SITE_COPYRIGHT="2022-{{ now 'Y' }} ITNSA. All rights reserved."
