<div class="flex flex-wrap items-center justify-center gap-x-3 gap-y-1">
  {% if site_info.site_copyright %}
    <span>&copy; {{ site_info.created_at|date:"Y" }} -{% now "Y" %} {{ site_info.site_copyright }}.</span>
  {% else %}
    <span>{{ site_info.site_name }}</span>
  {% endif %}
  {% if site_info.site_author %}
    {% if site_info.site_author_link %}
      <a href="{{ site_info.site_author_link }}" class="link-hover link">{{ site_info.site_author|upper }}</a>
    {% else %}
      <span>{{ site_info.site_author|upper }}</span>
    {% endif %}
  {% endif %}
  {% if site_info.site_icp_beian %}
    <a href="{{ site_info.site_icp_beian_link|default:'#' }}" class="link-hover link">{{ site_info.site_icp_beian }}</a>
  {% endif %}
  {% if site_info.site_ism_beian %}
    <a href="{{ site_info.site_ism_beian_link|default:'#' }}" class="link-hover link">{{ site_info.site_ism_beian }}</a>
  {% endif %}
</div>
