{% load django_tables2 %}
{% load i18n l10n %}

<div class="flex justify-end my-6">
    <div class="join">
    {% if table.page.has_previous %}
        <button class="join-item btn previous">
            <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">
                    {% trans 'previous' %}
            </a>
        </button>
    {% endif %}

    {% if table.page.has_previous or table.page.has_next %}
    {% block pagination.range %}
        {% for p in table.page|table_page_range:table.paginator %}
            <button class="join-item btn {% if p == table.page.number %} active{% endif %}">
                {% if p == '...' %}
                    <a href="#">{{ p }}</a>
                {% else %}
                    <a href="{% querystring table.prefixed_page_field=p %}">
                        {{ p }}
                    </a>
                {% endif %}
            </button>
        {% endfor %}
    {% endblock pagination.range %}
    {% endif %}
    {% if table.page.has_next %}
        {% block pagination.next %}
            <button class="join-item btn next">
                <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">
                    {% trans 'next' %}
                </a>
            </button>
        {% endblock pagination.next %}
    {% endif %}
    </div>
</div>