{% load i18n %}

<div class="flex justify-end mt-6">
  <div class="join">

    {# 上一页 #}
    {% if table.page.has_previous %}
      <a href="?page={{ table.page.previous_page_number }}"
         class="join-item btn">
        «
      </a>
    {% else %}
      <button class="join-item btn btn-disabled">«</button>
    {% endif %}

    {# 页码 #}
    {% for page_num in table.paginator.page_range %}
      {% if page_num == table.page.number %}
        <button class="join-item btn btn-active">
          {{ page_num }}
        </button>
      {% else %}
        <a href="?page={{ page_num }}"
           class="join-item btn">
          {{ page_num }}
        </a>
      {% endif %}
    {% endfor %}

    {# 下一页 #}
    {% if table.page.has_next %}
      <a href="?page={{ table.page.next_page_number }}"
         class="join-item btn">
        »
      </a>
    {% else %}
      <button class="join-item btn btn-disabled">»</button>
    {% endif %}

  </div>
</div>