{% load static %}
<!DOCTYPE html>
<html lang="zh-hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'images/computer-laptop-color-icon.png' %}" />
    <title>
      {% if title %}
        {{ title }} | {{ my_site_name }}
      {% else %}
        {% block title %}
          {{ my_site_name }}
        {% endblock %}
      {% endif %}
    </title>
    <!-- 引入CSS文件 -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    {% block extra_css %}

    {% endblock %}
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="navbar bg-neutral text-neutral-content md:h-15 fixed start-0 top-0 z-1 shadow-base-300/20 shadow-sm">navbar</header>

    <main class="flex-1">
      {% block content %}
        {% block content_title %}
          {% if title %}
            <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
          {% endif %}
        {% endblock %}
      {% endblock %}
    </main>

    <footer class="footer footer-center bg-base-200/60 px-6 py-4">
      {% include 'footer.html' %}
    </footer>
  </body>
</html>
