<!DOCTYPE html>
<html lang="zh-hans">
  <head>
    {% include 'head.html' %}
  </head>

  <body class="flex flex-col min-h-screen">
    {% if not page.is_homepage %}
      {% include 'navbar.html' %}
    {% endif %}

    <main class="flex-1">
      {% block article %}
        <!-- Main content goes here -->
      {% endblock %}
    </main>

    <footer class="footer footer-center text-neutral-content p-2 absolute bottom-0 z-10 w-full">
      {% include 'footer.html' %}
    </footer>
    {% include 'foot.html' %}
  </body>
</html>
