{% load static %}
<!DOCTYPE html>
<html lang="zh-hans" data-theme="light">
{% comment %} <html lang="zh-hans"> {% endcomment %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'images/computer-laptop-color-icon.png' %}" />
    <title>
      {% if title %}
        {{ title }} | {{ my_site_name }}
      {% else %}
        {% block title %}
          {{ my_site_name }}
        {% endblock %}
      {% endif %}
    </title>
    <!-- 引入CSS文件 -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    {% block extra_css %}

    {% endblock %}
  </head>

  <body class="min-h-screen flex flex-col">
    {% if not is_homepage %}
      <header>
        {% include 'navbar.html' %}
      </header>
    {% endif %}

    <main class="flex-1 {% if is_homepage %}relative {% else %} p-4 {% endif %}">
      {% block content %}
        <!-- 页面内容将在这里被替换 -->
      {% endblock %}
    </main>

    <footer class="text-center p-2
      {% if is_homepage %}
        bg-neutral/60 text-neutral-content absolute bottom-0 w-full z-10
      {% else %}
        bg-neutral text-neutral-content
      {% endif %}">
      {% include 'footer.html' %}
    </footer>

    <!-- 引入JavaScript文件 -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% block extra_js %}

    {% endblock %}
  </body>
</html>
