{% load static %}
<p class="text-sm text-decoration-none">&copy; 2024-{% now 'Y' %} <a href="{% url 'home' %}">{{ my_site_name }}.cn</a> 版权所有.</p>
<p class="flex items-center justify-center space-x-1">
  <img src="{% static 'images/gong_an_bu_bei_an.png' %}" alt="公安部备案图标" width="16" height="16" />
  <span>
    <a class="text-sm text-decoration-none" href="https://beian.mps.gov.cn/#/query/webSearch?code=44011102484109" rel="noreferrer" target="_blank">粤公网安备44011102484109</a>
    <a class="text-sm text-decoration-none" href="https://beian.miit.gov.cn/" rel="noreferrer" target="_blank">粤ICP备2022011003号-1</a>
  </span>
</p>
