{% extends 'base.html' %}

{% block left_sidebar %}

{% include 'menu.html' with menu_items=custom_menus.user_menu_items show_divider=True %}

{% endblock left_sidebar %}

{% block main %}
<div class="p-4">
  <h1 class="text-2xl font-bold">{{ title }}</h1>
  <div class="mt-4">
    <p>请将以下邀请码提供给需要注册的用户：</p>
    <div class="flex items-center mt-2">
      <input type="text" readonly value="{{ code }}" class="flex-1 p-2 border rounded" id="inviteCode" />
      <button id="copyBtn" class="ml-2 btn btn-info">复制</button>
    </div>
  </div>
</div>

<script>
document.getElementById('copyBtn').addEventListener('click', function() {
  navigator.clipboard.writeText('{{ code }}').then(function() {
    alert('邀请码已复制');
  });
});
</script>
{% endblock %}