{# accounts/templates/accounts/login_form.html #}
{% load form_extras %}

{% if form.errors %}
  <div class="alert alert-error mb-4" role="alert">
    <span class="icon-[tabler--alert-triangle] shrink-0 size-6"></span>
    <div>
      <span class="text-lg font-semibold">登录失败</span>
      <p>你的用户名和密码不匹配，请重试。</p>
    </div>
  </div>
{% endif %}

<form method="post" action="{% url 'accounts:login' %}">
  {% csrf_token %}
  <div class="space-y-2">
    {% for field in form %}
      {% include 'components/field.html' with field=field show_errors=False %}
    {% endfor %}
  </div>

  <!-- 记住我 -->
  <div class="mt-4">
    <label class="label cursor-pointer justify-start gap-3">
      <input type="checkbox" name="remember_me" class="checkbox checkbox-sm" checked />
      <span class="label-text">记住我</span>
    </label>
  </div>

  <div class="mt-4 space-y-4">
    <button class="btn btn-primary w-full" type="submit" value="login">登录</button>
    <button class="btn btn-outline w-full" type="reset">重置</button>
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
