{% extends 'base.html' %}
{% block left_sidebar %}{% endblock %}
{% block right_sidebar %}{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
  <fieldset class="fieldset bg-base-100 border-base-300 rounded-box border p-6 max-lg mx-auto shadow-xl">
    <legend class="fieldset-legend text-2xl font-bold text-center mb-4">{{ title }}</legend>
    {% include 'components/form_snippet.html' with form=form action=request.path submit_label='注册' %}
  </fieldset>
  <div class="text-center mt-4">
    <p>
      已有账号? <a href="{% url 'accounts:login' %}" class="link link-accent">立即登录</a>
    </p>
  </div>
{% endblock %}
