{% extends 'base.html' %}

{% block left_sidebar %}
  {% include 'menu.html' with menu_items=custom_menus.training_log_menu_items show_divider=True %}
{% endblock %}

{% block main %}
  <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>

  <div class="mb-3">
    <a href="{% url 'traininglogs:training_log_statistics' %}" class="btn btn-info"><i class="fas fa-chart-bar"></i> 日志统计</a>
    
    <!-- 添加选手筛选表单 -->
    <div class="mt-3 mb-3">
      <form method="get" class="flex flex-wrap gap-2 items-end">
        <div class="form-control">
          <label class="label">
            <span class="label-text">选择选手</span>
          </label>
          <select name="competitor_id" class="select select-bordered">
            <option value="">所有选手</option>
            {% for competitor in competitors %}
              <option value="{{ competitor.id }}" {% if selected_competitor_id == competitor.id %}selected{% endif %}>
                {{ competitor.first_name }}
              </option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">查询</button>
      </form>
    </div>
  </div>

  {% include 'traininglogs/training_log_table.html' %}
{% endblock %}