{% extends 'base.html' %}

{% block left_sidebar %}
  {% include 'menu.html' with menu_items=custom_menus.training_log_menu_items show_divider=True %}
{% endblock %}

{% block content %}
  <div class="p-4 flex flex-col items-center">
    <h1 class="mb-4 text-2xl font-bold">{{ title }}</h1>

    <!-- 月份选择器 -->
    <div class="mb-4 select max-w-48">
      <span class="icon-[tabler--clock] text-base-content/80 my-auto size-5 shrink-0"></span>
      <select id="month-select">
        {% for month_item in months %}
          <option value="{{ month_item.year }}-{{ month_item.month }}" {% if month_item.year == selected_year and month_item.month == selected_month %}selected{% endif %}>{{ month_item.name }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- 日志统计表格 -->
    <div class="w-full overflow-x-auto h-fit">
      <table class="table">
        <thead>
          <tr>
            <th>日期</th>
            <th>已提交选手</th>
            <th>未提交选手</th>
            <th>已提交教练</th>
            <th>未提交教练</th>
          </tr>
        </thead>
        <tbody>
          {% for date, stats in daily_stats.items %}
            <tr class="{% if stats.is_sunday %}bg-secondary/20{% endif %}">
              <td>{{ date|date:'m月d日' }}({{ date|date:'l'|slice:':3' }})</td>
              <!-- 已提交选手 -->
              <td>
                {% for competitor in stats.submitted_competitors %}
                  <span class="text-primary">{{ competitor.first_name }}</span>
                {% empty %}
                  <span>无</span>
                {% endfor %}
              </td>
              <!-- 未提交选手 -->
              <td>
                {% for competitor in stats.unsubmitted_competitors %}
                  <span class="text-warning">{{ competitor.first_name }}</span>
                {% empty %}
                  <span class="text-success">全部提交</span>
                {% endfor %}
              </td>
              <!-- 已提交教练 -->
              <td>
                {% for coach in stats.submitted_coaches %}
                  <span class="text-success">{{ coach.first_name }}</span>
                {% empty %}
                  <span>无</span>
                {% endfor %}
              </td>
              <!-- 未提交教练 -->
              <td>
                {% for coach in stats.unsubmitted_coaches %}
                  <span class="text-warning">{{ coach.first_name }}</span>
                {% empty %}
                  <span class="text-success">全部提交</span>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    // 按月份查看
    document.getElementById('month-select').addEventListener('change', function () {
      const selectedValue = this.value
      const [year, month] = selectedValue.split('-')
      window.location.href = `?year=${year}&month=${month}`
    })
  </script>
{% endblock %}
