{% extends 'base.html' %}

{% block left_sidebar %}
  {% include 'menu.html' with menu_items=custom_menus.training_log_menu_items show_divider=True %}
{% endblock %}

{% block main %}
  <div class="p-4 flex items-center flex-col">
    <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
    <!-- 月份选择器 -->
    <div class="mb-4 select max-w-48">
      <span class="icon-[tabler--clock] text-base-content/80 my-auto size-5 shrink-0"></span>
      <select id="month-select">
          {% for month_item in months %}
            <option value="{{ month_item.year }}-{{ month_item.month }}" {% if month_item.year == selected_year and month_item.month == selected_month %}selected{% endif %}>
              {{ month_item.name }}
            </option>
          {% endfor %}
      </select>
    </div>
    
    {% include 'traininglogs/training_log_table.html' %}
  </div>    
  

{% endblock %}

{% block extra_js %}
  <script>
    // 按月份查看
    document.getElementById('month-select').addEventListener('change', function() {
      const selectedValue = this.value;
      const [year, month] = selectedValue.split('-');
      window.location.href = `?year=${year}&month=${month}`;
    });
  </script>

{% endblock extra_js %}
