<div class="w-full overflow-x-auto h-fit">
  <table class="table">
    <thead>
      <tr>
        <th class="font-bold">序号</th>
        <th class="font-bold">姓名</th>
        <th class="font-bold">角色</th>
        <th class="font-bold">训练日期</th>
        <th class="font-bold">训练模块</th>
        <th class="font-bold">训练任务</th>
        <th class="font-bold">日志文件</th>
        <th class="font-bold">上传时间</th>
        <th class="font-bold">操作</th>
      </tr>
    </thead>
    <tbody>
      {% if training_logs %}
        {% for log in training_logs %}
          <tr class="row-hover">
            <td>{{ forloop.counter }}</td>
            <td>{{ log.uploaded_by.first_name }}</td>
            <td>{{ log.uploaded_by.groups.first.name }}</td>
            <td>{{ log.training_date|date:'Y-m-d' }}</td>
            <td>{{ log.module.name }}</td>
            <td>{{ log.task }}</td>
            <td>
              <a href="{% url 'traininglogs:view_training_log' log.id %}" class="text-blue-500 hover:underline" target="_blank">{{ log.filename }}</a>
            </td>
            <td>{{ log.uploaded_at|date:'Y-m-d H:i:s' }}</td>
            <td>
              {% if log.uploaded_by == user %}
                <a href="{% url 'traininglogs:delete_training_log' log.id %}" onclick="return confirm('确定要删除这条训练日志记录吗（会同时删除相应的文件）?')" class="btn btn-circle btn-text btn-sm" aria-label="Action button"><span class="icon-[tabler--trash] size-5"></span></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr class="row-hover">
          <td colspan="9" class="text-center py-4">暂无训练日志记录</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
