{% extends 'base.html' %}

{% block left_sidebar %}
  {% include 'menu.html' with menu_items=custom_menus.training_log_menu_items show_divider=True %}
{% endblock %}

{% block main %}
  <div class="p-4 flex items-center flex-col">
    <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>

    {% if error_message %}
      <div class="alert alert-error alert-outline">{{ error_message }}</div>
    {% endif %}

    {% if success_message %}
      <div class="alert alert-success alert-outline">{{ success_message }}</div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <div class="max-w-md">
          <div class="flex items-center mt-4">
            <label class="label-text w-24 mr-2" for="{{ field.id_for_label }}">{{ field.label }}：</label>
            <div class="flex-1">{{ field }}</div>
          </div>

          {% if field.errors %}
            <div class="helper-text text-error text-end" role="alert">{{ field.errors }}</div>
          {% endif %}

          {% if field.help_text %}
            <span class="helper-text text-primary text-end" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</span>
          {% endif %}
        </div>
      {% endfor %}

      <div class="flex items-center justify-end mt-4">
        <button class="btn btn-accent" type="submit">上传</button>
        <button class="btn btn-neutral ml-2" type="reset">重置</button>
      </div>
    </form>
  </div>
{% endblock %}
