{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="min-h-screen w-full flex items-center bg-cover bg-center" style="background-image: url('{% static 'images/bg-bit.png' %}');">
    <article id="intro" class="w-full bg-neutral/60 p-6 flex justify-center">
      <div class="text-neutral-content text-center max-w-2xl">
        <h1 class="mb-5 text-5xl font-bold">{{ page.title }}</h1>
        <p class="mb-5">{{ page.content }}</p>
        <button class="btn glass btn-gradient"><a href="{% url 'accounts:profile' %}">Get Started</a></button>
      </div>
    </article>
  </div>

  <footer class="footer footer-center text-neutral-content p-2 absolute bottom-0 z-10 w-full">
    {% include 'footer.html' %}
  </footer>
{% endblock %}
