{# navigation/templates/navigation/sidebar_menu_item.html #}
{% comment %}
侧边栏菜单项，垂直布局
{% endcomment %}
<li>
  {% if node.children %}
    <details {% if node.open %}open{% endif %}>
      <summary class="{% if node.active %}active font-medium{% endif %}">
        {% if node.icon %}
          <span class="{{ node.icon }} size-6 text-primary"></span>
        {% endif %}
        <span>{{ node.name }}</span>
      </summary>
      <ul>
        {% for child in node.children %}
          {% include "navigation/sidebar_menu_item.html" with node=child %}
        {% endfor %}
      </ul>
    </details>
  {% else %}
    <a href="{{ node.url }}" 
       {% if node.target_blank %}target="_blank" rel="noopener"{% endif %}
       {% for k,v in node.htmx_attrs.items %} {{k}}="{{v}}"{% endfor %}
       class="{% if node.active %}active font-medium{% endif %} {{ node.css_classes }}">
      {% if node.icon %}
        <span class="{{ node.icon }} size-6 text-primary"></span>
      {% endif %}
      <span>{{ node.name }}</span>
    </a>
  {% endif %}
</li>
