<ul class="menu w-full">
  {% for item in menu_items %}
    {% with url_length=item.url|length %}
      <li {% if item.url == '/' and current_path == '/' %}class="disabled"
          {% elif item.url != '/' and current_path|slice:":url_length" == item.url %}class="disabled"{% endif %}>
        <a href="{{ item.url }}" 
           {% if item.url == '/' and current_path == '/' %}class="active"
           {% elif item.url != '/' and current_path|slice:":url_length" == item.url %}class="active"{% endif %}>
          {{ item.name }}
        </a>
      </li>
    {% endwith %}
  {% endfor %}
</ul>
{% if show_divider %}
  <div class="divider"></div>
{% endif %}