{% load static %}

<nav class="navbar bg-base-100 shadow-lg px-8">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost md:hidden">
        <span class="icon-[tabler--menu-2] size-6"></span>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
        {% for item in custom_menus.main_menu %}
          <li>
            <a href="{{ item.url }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="flex items-center gap-2">
      <img src="{% static 'images/logo.png' %}" alt="Logo" class="w-8 h-8" />
      <a class="btn btn-ghost text-xl font-bold" href="/">{{ site_info.my_site_name }}</a>
    </div>
  </div>
  
  <div class="navbar-center hidden md:flex">
    <ul class="menu menu-horizontal px-1">
      {% for item in custom_menus.main_menu %}
        <li>
          <a href="{{ item.url }}">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="navbar-end gap-2">
    {% include 'theme_selector.html' %}
    
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="{% static 'images/avatar.png' %}" alt="avatar" />
        </div>
      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-64 p-2 shadow">
        <li class="menu-title">
          <div class="flex items-center gap-3 p-2">
            <div class="avatar">
              <div class="w-12 rounded-full">
                <img src="{% static 'images/avatar.png' %}" alt="avatar" />
              </div>
            </div>
            <div>
              <h6 class="font-semibold">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</h6>
              <small class="text-base-content/60">{{ user.groups.all.0.name }}</small>
            </div>
          </div>
        </li>
        <div class="divider my-1"></div>
        <li>
          <a href="{% url 'accounts:profile' %}">
            <span class="icon-[tabler--user]"></span>
            用户信息
          </a>
        </li>
        {% if user.is_superuser or user.is_staff %}
          <li>
            <a href="{% url 'admin:index' %}">
              <span class="icon-[tabler--settings]"></span>
              后台管理
            </a>
          </li>
        {% endif %}
        <div class="divider my-1"></div>
        <li>
          <form method="post" action="{% url 'accounts:logout' %}" class="w-full">
            {% csrf_token %}
            <button type="submit" class="btn btn-error btn-sm w-full justify-start">
              <span class="icon-[tabler--logout]"></span>
              注销
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
