{% load static %}

<nav class="navbar shadow-base-300/20 shadow-md bg-no-repeat bg-size-[100%_2px] sm:h-15 w-full" style="background-image: url('{% static 'images/navbar-bg.png' %}');">
  <div class="w-full sm:flex sm:items-center sm:gap-2">
    <div class="flex items-center justify-between">
      <div class="navbar-start items-center justify-between max-sm:w-full">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="size-8 mr-2" />
        <a class="link text-base-content link-neutral text-xl font-bold no-underline" href="/">{{ my_site_name }}</a>
        <div class="sm:hidden">
          <button type="button" class="collapse-toggle btn btn-outline btn-secondary btn-sm btn-square" data-collapse="#default-navbar-collapse" aria-controls="default-navbar-collapse" aria-label="Toggle navigation">
            <span class="icon-[tabler--menu-2] collapse-open:hidden size-4"></span>
            <span class="icon-[tabler--x] collapse-open:block hidden size-4"></span>
          </button>
        </div>
      </div>
    </div>

    <div id="default-navbar-collapse" class="sm:navbar-end collapse hidden grow basis-full overflow-hidden transition-[height] duration-300 max-sm:w-full">
      <div class="flex items-center max-sm:flex-col gap-2">
        <label class="hidden sm:flex cursor-pointer gap-2">
          <span class="label-text">Light</span>
          <input type="checkbox" value="dark" class="switch theme-controller" />
          <span class="label-text">Dark</span>
        </label>

        <ul class="menu sm:menu-horizontal gap-1 p-0 text-base max-sm:mt-2">
          <!-- Add your menu items here -->
          {% for item in main_menu_items %}
            <li>
              <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="dropdown relative inline-flex [--auto-close:inside] [--offset:8] [--placement:bottom-end]">
          <button id="dropdown-scrollable" type="button" class="dropdown-toggle flex items-center gap-2" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
            <div class="avatar">
              <div class="size-9.5 rounded-full">
                <img src="{% static 'images/avatar.png' %}" alt="avatar 1" />
              </div>
            </div>
            <div>
              <p class="text-sm text-warning">
                欢迎，<span class="underline decoration-sky-500 decoration-dashed underline-offset-6">{{ user.first_name }}</span>
              </p>
            </div>
          </button>
          <ul class="dropdown-menu dropdown-open:opacity-100 hidden min-w-60" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-avatar">
            <li class="dropdown-header gap-2">
              <div class="avatar">
                <div class="w-10 rounded-full">
                  <img src="{% static 'images/avatar.png' %}" alt="avatar" />
                </div>
              </div>
              <div>
                <h6 class="text-base-content text-base font-semibold">{{ user.first_name }}</h6>
                <small class="text-base-content/50">{{ user.groups.all.0.name }}</small>
              </div>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'accounts:profile' %}">
                <span class="icon-[tabler--user]"></span>
                用户信息
              </a>
            </li>
            {% if user.is_superuser %}
              <li>
                <a class="dropdown-item" href="{% url 'admin:index' %}">
                  <span class="icon-[tabler--settings]"></span>
                  后台管理
                </a>
              </li>
            {% endif %}
            <li class="dropdown-footer gap-2">
              <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-error btn-soft btn-block">
                  <span class="icon-[tabler--logout]"></span>
                  注销
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
