{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="flex items-center justify-center min-h-[calc(100vh-11rem)]">
    <div class="w-full max-w-xs">
      {% if form.errors %}
        <div class="alert alert-error alert-outline">
          <span>你的用户名和密码不匹配，请重试。</span>
        </div>
      {% endif %}

      <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <fieldset class="fieldset bg-base-200 border border-base-300 p-4 rounded-box shadow-2xl">
          <legend class="fieldset-legend">登录</legend>

          {% for field in form %}
            {% if field.errors %}
              <div class="alert alert-error alert-outline">{{ field.errors }}</div>
            {% endif %}
            <label class="fieldset-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% comment %} <input type="{{ field.field.widget.input_type }}" class="input" name="{{ field.html_name }}" placeholder="{{ field.label }}" required /> {% endcomment %}
            <div class="input">{{ field }}</div>
            {% if field.help_text %}
              <div class="text-info" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</div>
            {% endif %}
          {% endfor %}

          <button class="btn btn-neutral mt-4" type="submit" value="login">登录</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
      </form>
    </div>
  </div>

  {% if next %}
    {% if user.is_authenticated %}
      <div class="toast toast-top toast-center">
        <div class="alert alert-warning">
          <span>你的账户没有访问此页面的权限。请登录具有访问权限的账户。</span>
        </div>
      </div>
    {% else %}
      <div class="toast toast-top toast-center">
        <div class="alert alert-warning">
          <span>请登录以查看此页面。</span>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
