{% extends 'base.html' %}
{% load static %}

{% block article %}
  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full md:w-96">
    <form method="post" novalidate>
      {% csrf_token %}
      <fieldset class="fieldset border border-base-200 p-2 rounded-box shadow-2xl">
        <legend class="fieldset-legend">注册</legend>
        {% for field in form %}
          {% if field.errors %}
            <div class="alert alert-error alert-outline border-dashed mt-2 p-2 text-xs">{{ field.errors }}</div>
          {% endif %}
          <label class="label-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
          <div class="input mb-2">{{ field }}</div>
          {% if field.help_text %}
            <div class="helper-text" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</div>
          {% endif %}
        {% endfor %}

        <button class="btn btn-accent mt-2" type="submit">注册</button>
        <button class="btn btn-neutral mt-2 ml-2" type="reset">重置</button>
      </fieldset>
    </form>
    <div class="text-center mt-2">
      <p>
        已有账号? <a href="{% url 'accounts:login' %}" class="link link-accent mt-4">立即登录</a>
      </p>
    </div>
  </div>
{% endblock %}
